input {
    font-size: 2rem;
    width: 20rem;
    text-align: center;
    padding: 10px; 
    border-radius: 20px;
    border: 1px solid #ccc;
}

.click-button {
        width: 110px;
        height: 110px;
}

#message {
    font-size: 1.5rem;
    border-radius: 12px;
    padding: 0 10px;    
}
.green-text {
    color: green;
    background-color: lightgreen;
}
.red-text{
    color: yellow;
    background-color: lightcoral;
}